@import "tailwindcss";
.custom-path {
  stroke: rgb(147, 10, 10) !important;
  stroke-width: 4 !important;
}

.custom-building {
  stroke: rgb(126, 17, 55) !important;
  stroke-width: 2 !important;
  fill: lightblue !important;
}

@keyframes dashmove {
  to {
    stroke-dashoffset: -20;
  }
}

.leaflet-animated-path {
  stroke-dasharray: 10, 10;
  stroke-dashoffset: 0;
  animation: dashmove 1s linear infinite;
}